.header {
    background-color: hwb(266 18% 0%);
    color: black;
    text-align: center;
    padding: 3px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    text-decoration: none;
}

li {
    border: none;
    text-decoration: none;
    color: black;
}